/* --------------------
  resetPasswird style
-------------------- */

.reset-pass-container {
    min-height: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #d9edfa;
    border: 1px solid #a9d7f8;
    border-radius: 10px;        /* CSS3草案 */
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 10px;   /* Firefox用 */
    width: 400px;
}

.update-pass-title {
    width: 8em;
    margin-left: 15px;
    border-bottom: solid 1px;
}

.update-pass-id-form {
    margin-top: 1em;
}

.new-pass-form {
    margin-top: 1em;
}

.update-pass-top-row {
    margin-left: auto;
    margin-right: auto;
}

.update-pass-btn {
    margin-top: 1em;
    margin-left: 80%;
}

