/* --------------------
  family style
-------------------- */

.family-table {
    margin-top: 2em;
}

.operation {
    width: 50px;
}

.family-operation {
    text-align: center;
}

.family-menu-icon {
    color: #808080;
}

.family-menu-icon:hover {
    color: #444444;
}

.family-menu {
    border-bottom: 0;
}

